body {
    position: relative;
}

.grid {
    position: absolute;
    width: 560px;
    height: 300px;
    border: 1px solid black;
    top: 200px;
    left: 200px;
}

.block {
    position: absolute;
    width: 100px;
    height: 20px;
    background-color: blue;
    bottom: 50px;
}

.user {
    position: absolute;
    width: 100px;
    height: 20px;
    background-color: purple;
    bottom: 50px;
}

.ball {
    position: absolute;
    border-radius: 50%;
    background-color: red;
}