* {
    background-color: azure;
    text-align: center;
    font-size: 25px;
}

#title {
    color: yellowgreen;
}

.text {
    color: black;
}

button {
    background-color: blueviolet;
    color: azure;
}