body {
    text-align: center;
}

input[type="text"] {
    width: 40%;
    padding: 10px;
    font-size: 25px;
}

#grid {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    flex: 0 0 33.333333%;
}